<app-menu></app-menu>
<div class="row">
    <div class="col-sm-4">
        <mat-card style="width:80%; margin: auto; margin-bottom: 1px;">
            <div>
                <div>
                    <img mat-card-image class="container-fluid" src="../assets/images/bomberos.png" alt="logo"
                        style="height: auto; margin-top: 2%;">
                </div>
                <button class="container-fluid" mat-flat-button color="warn" (click)="navEmpleados()">Empleados</button>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card style="width:80%; margin: auto; margin-bottom: 1px;">
            <div>
                <div>
                    <img mat-card-image class="container-fluid" src="../assets/images/bombero.png" alt="logo"
                        style="height: auto; margin-top: 2%;">
                </div>
                <button class="container-fluid" mat-flat-button color="warn" (click)="navUsuarios()">Usuarios & Privilegios</button>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card style="width:80%; margin: auto; margin-bottom: 1px;">
            <div>
                <div>
                    <img mat-card-image class="container-fluid" src="../assets/images/verificar.png" alt="logo"
                        style="height: auto; margin-top: 2%;">
                </div>
                <button class="container-fluid" mat-flat-button color="warn" (click)="navBitacoras()">Bitacoras</button>
            </div>
        </mat-card>
    </div>
</div>
<div class="row">
  <div class="col-sm-4">
        <mat-card style="width:80%; margin: auto; margin-bottom: 1px;">
            <div>
                <div>
                    <img mat-card-image class="container-fluid" src="../assets/images/gasolina.png" alt="logo"
                        style="height: auto; margin-top: 2%;">
                </div>
                <button class="container-fluid" mat-flat-button color="warn" (click)="navCombustible()">Combustible</button>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card style="width:80%; margin: auto; margin-bottom: 1px;">
            <div>
                <div>
                    <img mat-card-image class="container-fluid" src="../assets/images/camion-de-bomberos.png" alt="logo"
                        style="height: auto; margin-top: 2%;">
                </div>
                <button class="container-fluid" mat-flat-button color="warn" (click)="navUnidades()">Unidades</button>
            </div>
        </mat-card>
    </div>
</div>

