<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12" style="text-align: center; float: left;">
        <div mat-dialog-content style="background: #8a0505;">
            <mat-icon [mat-dialog-close]="" aria-hidden="false" aria-label="Example home icon"
                style="text-align: end; float: right; color: white; margin-top: 10px;">close
            </mat-icon>
            <h3 mat-dialog-title class="titulo"
                style="color: white; margin-top: 10px; padding-left: 20px; font-size: 22px !important;">
                AGREGAR EMPELADO
                <mat-icon style="color: white; vertical-align: text-top;">playlist_add</mat-icon>
            </h3>
        </div>
    </div>
</div>
    <!--  -->
<div class="row" style="margin-bottom: 10px;">
    <div mat-dialog-content class="tamañoSolicitud" style="height: 240px;">
        <form [formGroup]="frmModal" style="display: contents; align-items: center; justify-content: center;">
            <mat-form-field style="display: contents;">
                <mat-label>Nombre(s)</mat-label>
                <input matInput placeholder="Ingrese los nombres" formControlName="nombres" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field style="display: contents;">
                <mat-label>Apellido paterno</mat-label>
                <input matInput placeholder="Ingrese apellido paterno" formControlName="apellidoPaterno"
                    autocomplete="off" required>
            </mat-form-field>
            <mat-form-field style="display: contents;">
                <mat-label>Apellido materno</mat-label>
                <input matInput placeholder="Ingrese apellido materno" formControlName="apellidoMaterno"
                    autocomplete="off" required>
            </mat-form-field>
            <mat-form-field style="display: contents;">
                <mat-label>Curp</mat-label>
                <input matInput placeholder="Ingrese el curp" formControlName="curp" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field style="display: contents;">
                <mat-label>RFC</mat-label>
                <input matInput placeholder="Ingrese RFC" formControlName="rfc" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field style="display: contents;">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Ingrese telefono" formControlName="telefono" autocomplete="off" required>
            </mat-form-field>
        </form>
    </div>
</div>
<br>
<div mat-dialog-content>
    <button class="btn btn-primary" mat-flat-button color="warn" [disabled]="frmModal.invalid" style="width: 100%;"
        (click)="agregarEmpleado()">
        Registrar
    </button>
</div>