<p>inicio works!</p>
<!-- <div class="row"> -->
    <div class="col-sm-4">
        <mat-card style="width:80%; margin: auto; margin-bottom: 1px;">
            <div>
                <div>
                    <img mat-card-image class="container-fluid" src="../assets/images/trabajo-en-equipo.png" alt="logo"
                        style="height: auto; margin-top: 2%;">
                </div>
                <hr>
                <button class="container-fluid" mat-flat-button color="warn" (click)="navEmpleado()">Empleados</button>
            </div>
        </mat-card>
    </div>
<!-- </div> -->